[Unit]
Description=Windscribe VPN Routing Setup
After=docker.service windscribe-gw.service softether-vpn.service
Wants=windscribe-gw.service softether-vpn.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/sleep 30
ExecStart=/usr/local/bin/windscribe-routing.sh
ExecStop=/usr/local/bin/windscribe-routing-down.sh
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
